


<footer class="page-footer bg-dark">
    <div class="container text-center text-md-left mt-5">
      <div class="row">
        <div class="col-md-2 mx-auto mb-4 blanco">
          <h6 class="text-uppercase font-weight bold">Redes Sociales</h6>
          <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto">
          <ul class="list-unstyled">
            <li><a target="_blank" href="https://facebook.com"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
            <li><a target="_blank" href="https://instagram.com"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
            <li><a target="_blank" href="https://twitter.com.striike33"><i class="fa-brands fa-twitter"></i>Twitter</a></li>
          </ul>
        </div>
      <div class="col-md-2 mx-auto mb-4 blanco">
        <h6 class="text-uppercase font-weight-bold">Acerca de MetaPC</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto">
          <ul class="list-unstyled">
            <li class="my-2"><a href="../index.html">Home</a></li>
          <li class="my-2"><a href="pages/pagina_productos/productos.html">Productos</a></li>
          <li class="my-2"><a href="pages/contacto.html">Contacto</a></li>
          <li class="my-2"><a href="pages/login.html">Log-In</a></li>
          <li class="my-2"><a href="pages/register.html">Registrarse</a></li>
          </ul>
      </div>
      <div class="col-md-2 mx-auto mb-4 blanco">
        <h6 class="text-uppercase font-weight-bold">Informacion Util</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto">
        <ul class="list-unstyled">
          <li class="my-2"> Av Rivadavia, 345</li>
          <li class="my-2"> MetaPc@gmail.com</li>
          <li class="my-2"> MetaPcSoporte@gmail.com</li>
          <li class="my-2"> +5491134567890</li>
        </ul>
      </div>

      </div>
    </div>

    <div class="footer-copyright text-center py-3 blanco">
      <p>&copy; Copyright
        <a href="index.html">MetaPc.com</a></p>
        <p>Designed By: Juan Rossa</p> 
    </div>
</footer>





