

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Quienes Somos <span class="text-muted"> Y Nuestra Historia</span></h2>
      <p class="lead">Somos una empresa Fundada en 2020 a la cual a meses de haberse fundado,la agarro una pandemia de por medio. Esta nosotros la utilizamos como un impulso para crecer a nivel nacional ya que en cualquier parte del pais en la que te encontraras te solicitaban una pc ,como requisito minimo, para trabajar,estudiar,etc. Por lo que nos pusimos manos a la obra y con mucho trabajo, 2 Anos despues, contamos con mas de 10 empleados y con +100 pedidos diarios los cuales se entregan/envian 48/72 Hrs despues de efectuarse la compra.
      </p>
    </div>
    <div class="col-md-5">
      <img src="../../../img/negocio2.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Fotos De nuestro Local <span class="text-muted">Y MAS</span></h2>
      <p class="lead">En nuestra empresa tenemos un servicio tecnico especializado el cual te ayudara a armar tu pc segun las necesidades que tengas y el presupuesto disponible!!! Tambien podras armar tu build custom si es que ya sabes que es lo que queres y al final el nuestros tecnicos revisaran que todo sea compatible entre si!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../img/negocio1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
    </div>
  </div>
<hr class="featurette-divider">






</div>